
  @import url('https://fonts.googleapis.com/css2?family=Gloock&family=Josefin+Sans:ital,wght@1,300&family=Lato:ital,wght@1,300&display=swap');

  *{
    font-family: 'Lato', sans-serif;
  }

  .navbar{
    background-color: white !important;
  }

  .navbar-brand{
    color: #565387 !important;
    font-size: 1.9rem !important;
    font-weight: 700 !important;
  }

  .navbar a {
    font-size: 1.3rem;
    text-transform: capitalize;
  }
  .nav-link{
    
  }

  .active {
    font-weight: bold;
    border-bottom: 1px solid #565387;
  }

  .navbar a:hover , .brand-name{
    color: #73bff3 !important;
  }

  @media (max-width: 991px) {
    .navbar-brand {
      font-size: 1.5rem !important;
    }

    .active{
      font-weight: bold;
      border-bottom: none;
    }
    
  }

  #header{
     height: 60vh;
     width: 100%;
     margin-top: 70px;
     
  }

  #header h1{
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    color: black;
  }

  #header h3{
    color: #484848;
    font-size: 24px;
  }

  #header .btn {
    letter-spacing: 1px;
    padding: 10px 30px;
    transition: 0.5s;
  }

 .card-img-top{
  height: 250px;
  width: 300px;
 }
 .footer{
  margin-top:0;
 }

 @media (min-width: 768px) and (max-width: 991px) {
  .footer {
    margin-top: 220px;
  }
  #header {
    margin-top: 180px;
  }
  #header h1{
    font-size: 40px;
  }
}

@media (max-width: 767px) {
  .footer {
    margin-top: 100px;
  }
  #header h1{
    font-size: 30px;
  }
}


  @keyframes upAndDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); 
    }
  }

.animated {
  animation: upAndDown 2s ease-in-out infinite alternate-reverse both;
}
